<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="../static/style.css">
    
    <title>Yelverton Bowmen of Plymouth</title>
    <link rel="icon" type="image/png" href="../static/imgs/logo.png"/>
  </head>

  <body>
    <nav>
        <img src="../static/imgs/logo.png" />
    </nav>

    <div id="main">
    {% block content %}
    {% endblock %}
    </div>

    <footer>
        <p>
            All content on this website (except where external sources are cited), is ©Copyright Yelverton Bowmen, all rights reserved.
            <br> <a href="https://github.com/corey-richardson" target="_blank">github.com/corey-richardon</a>
        </p>
    </footer>

  </body>
</html>